{% extends "base.html" %}
{% block content %}


<br>
<!-- <form method="GET"> -->
<form method="POST">
    {% for dict_key, dict in form_labels.items() %}
        <p class="subtitle">
            Please select a {{ dict_key }}:
            <br>
            {% for label, value in dict.items() %}
                <input type='radio' id='{{ label }}' name='{{ dict_key }}' value='{{ label }}'>
                <label for='{{ label }}'>{{ value }}</label><br>
            {% endfor %}
        </p>
    {% endfor %}
    <input type='submit' value='Submit'>
</form>


<br>
{% block form_content %}{% endblock %}
<br>


{% endblock %}