{% extends "base.html" %}
{% block content %}

<form method='POST' class="subtitle">
    {% for dict_key, dict in FORM_LABELS.items() %}
        <p class="subtitle">
            Please select a {{ dict_key }}:
            <br>
            {% for label, value in dict.items() %}
                <input type='radio' id='{{ label }}' name='{{ dict_key }}' value='{{ label }}'>
                <label for='{{ label }}'>{{ value }}</label><br>
            {% endfor %}
        </p>
    {% endfor %}
    <input type='submit' value='Submit'>
</form>
<br>


<p>
{% block form_content %}{% endblock %}
</p>

{% endblock %}