{% extends "base.html" %}
{% block content %}

<!-- TODO: Generate form -->
<br>
<!-- <form action="javascript:void(0)"> -->
<form>
    {% for dict_key, dict in form_labels.items() %}
        <p class="subtitle">
            Please select a {{ dict_key }}:
            <br>
            {% for label, value in dict.items() %}
                <input type='radio' id='{{ label }}' name='{{ dict_key }}' value='{{ label }}'>
                <label for='{{ label }}'>{{ value }}</label><br>
            {% endfor %}
        </p>
    {% endfor %}
    <input type='submit' value='Submit'>
</form>


<!-- TODO: Check form -->
<!--
if (isset($_POST["website"]) and isset($_POST["category"])) {
    $website = $_POST["website"];
    $category = $_POST["category"];
    echo "<p>Received website \"$website\" and category \"$category\"</p>";
} else {
    exit();
}
-->


<p>Received website {{ website }} and category {{ category }}</p>




<br>
{% block form_content %}{% endblock %}
<br>

{% endblock %}